@(dataAn:Array[Float],op:String,dateArr:Array[String],analysisForm:Form[(String,String,String)])
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>分析</title>

</head>
<body>

    <form action="@{routes.Analysis.analysisApartmentOfWeek()}" method="post">
     <select name="id">
        <option value="1">部门a</option>
        <option value="2">部门b</option>
        <option value="3">部门c</option>
        <option value="4">部门d</option>
        <option value="5">部门e</option>
     </select>
        <input type="hidden" name="period_start" value=@Tool.getLastWeekStart() />
        <input type="hidden" name="period_end" value=@Tool.getLastWeekEnd() />
        <input type="submit" value="上周" />
    </form>

    <form action="@{routes.Analysis.analysisApartmentOfWeek()}" method="post">
        <select name="id">
            <option value="1">部门a</option>
            <option value="2">部门b</option>
            <option value="3">部门c</option>
            <option value="4">部门d</option>
            <option value="5">部门e</option>
        </select>
        <input type="hidden" name="period_start" value=@Tool.getNowWeekStart() />
        <input type="hidden" name="period_end" value=@Tool.getNowWeekEnd() />
        <input type="submit" value="本周" />
    </form>

    <form action="@{routes.Analysis.analysisApartmentOfMonth()}" method="post">
        <select name="id">
            <option value="1">部门a</option>
            <option value="2">部门b</option>
            <option value="3">部门c</option>
            <option value="4">部门d</option>
            <option value="5">部门e</option>
        </select>
        <input type="hidden" name="period_start" value=@Tool.getNowMonthStart() />
        <input type="hidden" name="period_end" value=@Tool.getNowMonthEnd() />
        <input type="submit" value="本月" />
    </form>

    <form action="@{routes.Analysis.analysisApartmentOfMonth()}" method="post">
        <select name="id">
            <option value="1">部门a</option>
            <option value="2">部门b</option>
            <option value="3">部门c</option>
            <option value="4">部门d</option>
            <option value="5">部门e</option>
        </select>
        <input type="hidden" name="period_start" value=@Tool.getLastMonthStart() />
        <input type="hidden" name="period_end" value=@Tool.getLastMonthEnd() />
        <input type="submit" value="上月" />
    </form>

    <form action="@{routes.Analysis.analysisApartmentOfMonth()}" method="post">
        <select name="id">
            <option value="1">部门a</option>
            <option value="2">部门b</option>
            <option value="3">部门c</option>
            <option value="4">部门d</option>
            <option value="5">部门e</option>
        </select>
        <input type="text" name="period_start" value=@Tool.getNowMonthStart() />
        <input type="text" name="period_end" value=@Tool.getNowMonthEnd() />
        <input type="submit" value="确定" />
    </form>

    <form action="@{routes.Analysis.analysisForStaff()}" method="post">
        <select name="id">
            <option value="1">部门a</option>
            <option value="2">部门b</option>
            <option value="3">部门c</option>
            <option value="4">部门d</option>
            <option value="5">部门e</option>
        </select>
        <input type="text" name="period_start" value=@Tool.getNowMonthStart() />
        <input type="text" name="period_end" value=@Tool.getNowMonthEnd() />
        <input type="submit" value="确定" />
    </form>


  <div id="main" style="width:600px;height:400px; display:none">a </div>

    <div id="month_bar" style="width:800px;height:400px;display:none">b</div>

    <div id="staff_bar" style="width:800px;height:400px;display:none">c</div>

    <div id="month_line" style="width:800px;height:400px;display:none">d</div>

    <script>
        if('@op'=="week"){
        document.getElementById("main").style.display="inherit";
        document.getElementById("month_line").style.display="block";
        }else if('@op'=="month"){
        document.getElementById("month_bar").style.display="block";
        document.getElementById("month_line").style.display="block";
        }else if('@op'=="staff"){
        document.getElementById("staff_bar").style.display="block";
        }
    </script>

  <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>

        <!--显示月柱状图-->
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (month) {
            //纵坐标值
            var dataArr = new Array();
            @for(i<-0 to dataAn.length-1) {
            dataArr = dataArr.concat(@dataAn(i));
            }
            //横坐标
            var dateAttend = new Array();
            @for(j<-0 to dateArr.length-1) {
            dateAttend = dateAttend.concat('@dateArr(j)');
            }

                // 基于准备好的dom，初始化echarts图表
                var myChart = month.init(document.getElementById('month_bar'));
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['每人平均出勤时间']
                    },
                    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data :  dateAttend
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"每人平均出勤时间",
                            "type":"bar",
                            "data":dataArr
                        }
                    ]
                };
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        );
    </script>

        <!--显示员工统计柱状图-->
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (month) {
            //纵坐标值
            var dataArr = new Array();
            @for(i<-0 to dataAn.length-1) {
            dataArr = dataArr.concat(@dataAn(i));
            }
            //横坐标
            var dateAttend = new Array();
            @for(j<-0 to dateArr.length-1) {
            dateAttend = dateAttend.concat('@dateArr(j)');
            }

                // 基于准备好的dom，初始化echarts图表
                var myChart = month.init(document.getElementById('staff_bar'));
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['员工出勤总计']
                    },
                    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data :  dateAttend
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"员工出勤总计",
                            "type":"bar",
                            "data":dataArr
                        }
                    ]
                };
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        );
    </script>
        <!--显示月折线图-->
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
            ],
            function (line) {
            //纵坐标值
            var dataArr = new Array();
            @for(i<-0 to dataAn.length-1) {
            dataArr = dataArr.concat(@dataAn(i));
            }
            //横坐标
            var dateAttend = new Array();
            @for(j<-0 to dateArr.length-1) {
            dateAttend = dateAttend.concat('@dateArr(j)');
            }
                // 基于准备好的dom，初始化echarts图表
                var myChart = line.init(document.getElementById('month_line'));
                option = {
    title : {
        text: '部门月平均出勤时间',
        subtext: '折线图'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['最高出勤','平均时长']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data :dateAttend
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value} h'
            }
        }
    ],
    series : [
        {
            name:'最高出勤',
            type:'line',
            data:[11, 11, 15, 13, 12, 13, 10],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'平均时长',
            type:'line',
            data: dataArr,
            markPoint : {
                data : [
                    {name : '周最低', value : -2, xAxis: 1, yAxis: -1.5}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        }
    ]
};
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        );
    </script>
        <!-- 显示每周柱状图-->
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
            //纵坐标值
            var dataArr = new Array();
            @for(i<-0 to dataAn.length-1) {
            dataArr = dataArr.concat(@dataAn(i));
            }
            //横坐标
            var dateAttend = new Array();
            @for(j<-0 to dateArr.length-1) {

            dateAttend = dateAttend.concat('@dateArr(j)');
            }

                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));
                var data1=[10,20,30,40,24,43];
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['每人平均出勤时间']
                    },
                    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data :  dateAttend
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"每人平均出勤时间",
                            "type":"bar",
                            "data":dataArr
                        }
                    ]
                };
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        );
    </script>

</body>
</html>